// ======================================
//  Variables
// ======================================

// Colors


$primary-color: #34495E ;
$secondary-color: #4D7CAB;
$logo-color: #CCCCCC;


//fonts

$font-family: 'Source Sans Pro', sans-serif;

// Media Query Breakpoints

$breakpoints:(
's': 540px,    
'm': 768px,
'l': 992px,
'xl': 1200px,
);




