/* ============================================= */
/*              Images                           */
/* ============================================= */


.logo{
    font-family: 'Calligraffitti', cursive;
    font-size: 2.3em;
   }
  


.img-thumbnail{
    width: 300px;
    height: 300px;
  }
  
  .img-fluid{
    height: 500px;
  }

  .skills img{
    width: 2em;
    height: 8em;
  
  }
  
  .svg-icon {
    width: 1em;
    height: 1em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #4691f6;
  }
  
  .svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
  }



