/* ============================================= */
/*              Images                           */
/* ============================================= */

.video{
  width: 100%;
}

.logo{
    font-family: 'Calligraffitti', cursive;
    font-size: 2.3em;

   }
  

@keyframes offset {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-it{
  100%{
    fill: $primary-color;
  }
}  


.sass.appear{
  stroke: $primary-color;
  stroke-width: 2;
  stroke-dasharray: 1300;
  stroke-dashoffset: 1300;
  animation: offset 5s linear forwards, fill-it 2s 5s forwards;
}

.logo-svg{
  stroke: $logo-color;
  stroke-width: 1;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: offset 5s linear forwards, fill-it 2s 5s forwards;
}

