/* ===================================== 
  Main Layout
======================================== */

.navbar{
  background-color: #34495E;
  padding: 0;

}

.jumbotron{
  background-color: #CCCCCC;
  color: #4D7CAB;
}

.card-btn{
  background-color: #5E84AB;
}

 