/* ============================================= */
/*              Base styles                      */
/* ============================================= */

main{
  z-index: -1;

}

#body{
overflow: hidden;
}

main{
  overflow-x: hidden;
}

